

// Variables
:root {
  

    --color-primary: #6d276d;

    --color-primary-dark: #333366;
    
    --color-primary-darker: #401c5b;


    --color-secondary: #ed691f;
  
    --color-tertiary: #7d5087;



    --color-grey-dark-5: #b4b8c1;

    --color-grey-dark-4: #bab8bd;

    --color-grey-dark-3: #78727f;

    --color-grey-dark-2: #808080;

    --color-grey-dark-1: #060606;


    --shadow-1: 0 4px 14px 3px rgba(0,0,0,.05);   
    --shadow-2: 0 4px 14px 3px rgba(0,0,0,.1); 
    --shadow-3: 0 4px 14px 3px rgba(0,0,0,.15);  
    --shadow-collapse-1: -2px 3px 6px  rgba(0,0,0, .05), 2px 3px 6px  rgba(0,0,0, .05);
    --shadow-collapse-2: -2px -3px 6px  rgba(0,0,0, .05), 2px -3px 6px  rgba(0,0,0, .05);






  
    --color-text: #999999;

    --color-text-dark: #2c2c2c;
  
    --color-white: #fff;
  
    --color-grey-light-1: #f3f3f5;

    --color-grey-light-2: #eff0f2;

    --color-grey-light-3: #e6e6e6;

    --color-grey-light-4: #d1d1d1;

    --color-grey-light-5: #bab8bd;








  
  }
  