.breadcrumb{
    background-color: transparent;
    color: var(--color-secondary);
    padding: 0;

    &__item{
        letter-spacing: 2px;
        color: inherit;
        text-decoration: none;

        &:hover{
            color: currentColor;
            text-decoration: none;
        }
    }

   &__divider{
       padding: 0 .5rem;
   }
}