.media{
    padding-top: 6rem;
    padding-bottom: 3rem;


    .col-md-6{
        margin-bottom: 5rem;
    }
   

    &__container{
        display: flex;
        padding: 4rem 6rem;
        border: 1px solid var(--color-grey-light-3);
        transition: all .4s ease-in-out;

        @include response(large-phone){
            text-align: center;
        }  

        &:hover{
        border: 1px solid transparent;
        box-shadow: 0 4px 10px 4px rgba(0,0,0,.06)
        }


        @include response(large-phone){
            flex-direction: column;
        }
    }

    &__time{
        line-height: 1;
        text-align: center;
        flex: 0 0 27%;

      

        

        &--date{
            line-height: 1;
            font-size: 8rem;
            color: var(--color-secondary);
            margin-bottom: 2rem;
            font-weight: 500;   
            @include response(large-phone){
                display: block;
            }         
        }

        &--my{
            font-size: 2.2rem;
            line-height: 1.4;
            color: var(--color-primary);
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    &__content{
        padding: 1rem 0 0 4rem;
        flex: 1;
    }

    &__text{
        text-transform: uppercase;
    }

    &__icon{
        fill: var(--color-secondary);
        margin-left: -10.5rem;

        @include response(large-phone){
            margin-left: 1rem;
        }

    }

    &__cta{
        @include response(large-phone){
            display: flex;
            justify-content: center;
        }
      
    }
}